{
margin: 0;
padding: 0;
font-family: Calibri;
}


header{
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../back.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}


ul{
  float: right;
  list-style-type: none;
  margin-top: 25px;
}


ul li{
  display: inline-block;
}


ul li.active a{
  background-color: #fff;
  colour: #000;
}

.logo img{
  float: left;
  width: 120px;
  height: auto;
}

.main{
  max-width: 1200px;
  margin: auto;
}

.title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title h1{
  color: #ff0000;
  font-size: 70px;
}

<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ADD8E6;;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: 	#D3D3D3;
}


style="margin-left:25%;
padding:1px 16px;
height:1000px;

</style>

slider {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #1f1f1f;
  overflow: hidden;
  position: absolute;
}

slider > *{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #1f1f1f;
  animation: slide 12s infinite;
  overflow: hidden;
}

slide:nth-child(1) {
  left: 0%;
  animation-delay: -1s;
  background-image: url(1.jpg);
  background-size: cover;
  background-position: center;
}

slide:nth-child(2) {
  animation-delay: 2s;
  background-image: url(2.jpg);
  background-size: cover;
  background-position: center;
}

slide:nth-child(3) {
  animation-delay: 5s;
  background-image: url(3.jpg);
  background-size: cover;
  background-position: center;
}

slide:nth-child(4) {
  left: 0%;
  animation-delay: 8s;
  background-image: url(4.jpg);
  background-size: cover;
  background-position: center;
}

slide p {
  font-family: Comfortaa;
  font-size: 70px;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-top: 340px;
  color: #fff;
}

@keyframes slide {
  o% {left: 100%;}
  5% {left: 0%;}
  25% {left: 100%;}
  30% {left: -100%; width: 100%;}
  30.0001% {left: -100%; width: 0%;}
  100% {left: 100%;, width: 0%;}
}

.contact-title{
  margin-bottom: 100px;
  color: #1f1f1f;
  text-transform: uppercase;
  transition: all 4s ease-in-out;
}
  
.contact-title h1{
  font-size: 32px;
  line-height: 10px;
}
  
.contact-title h2{
  font-size: 20px;
}  

.contact-title h3{
  font-size: 16px;
}   

.form{
  margin-top: 50px;
  transition: all 4s ease-in-out;
  
  position: absolute;
  top: 60%;
  left 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.form control{
  width: 100%;
  margin: 20px 0;
  background: rgba(0,0,0,0);
  border: none;
  border-bottom: 1px solid gray;
  color: #0078ff;
  font-size: 18px;
  margin-bottom: 16px;
}

input{
  height: 45px;
}

form .submit{
  background: #ff5722;
  border-color: transparent;
  color: #fff;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}

form .submit:hover{
  background-color: #f44336;
  cursor: pointer;
}



body{
  margin: 0;
  padding: 0;
  position: relative;
  background: #bfc2c2;
  position: relative;
}
nav{
  width: 100%;
  height: 65px;
  position: relative;
  background: #F8F8FF;
  box-shadow: 0px 2px 8px 0px #333;
}
.nav-container{
  width: 100px;
  margin: 0 auto;
  position: relative;
  background: #0a4b33;
}
.nav-container>.logo{
  width: 200px;
  height: 65px;
  float: left;
}
.menu{
  width: 100%;
  height: 65px;
  background: #F8F8FF;
}
.menu>.menu-content{
  width: 200px;
  height: 65px;
  float: right;
  font-family: sans-serif,Arial;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.05em;
  position: relative;
  color: #fff;
  line-height: 65px;
}
.menu>.menu-content>a{
  color: #fff;
  text-decoration: none;
}
.arrow-up{
  width: 0;
  height: 0;
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #fff;
  right: 151px;
  top: 50px;
  display: none;
}
.login-form{
  position: absolute;
  width: 300px;
  height: auto;
  background: #fff;
  right: 58px;
  top: 60px;
  border-radius: 3px;
  border-bottom: 5px solid gray;
  display: none;
}
.login-form>form{
  width: 250px;
  margin: 25px auto;
  font-size: 20px;
  font-family: sans-serif,Arial;
  color: gray;
  letter-spacing: -0.05em;
}
input[type="text"],
input[type="password"]{
  width: 240px;
  height: 30px;
  border: 0px;
  outline: none;
  box-shadow: inset 0 0 10px #eee;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 5px;
  font-family: sans-serif,Arial;
  font-size: 16px;
}
input[type="submit"]{
  width: 95%;
  height: 35px;
  background: #0b8256;
  font-size: 16px;
  font-weight: bold;
  font-family: sans-serif,Arial;
  color: white;
  outline: none;
  border: 0px;
  border-radius: 3px;
  letter-spacing: -0.05em;
  cursor: pointer;
}
input[type="submit"]:hover{
  background: #0a4b33;
}
.fa{
  margin-right: 5px;
}
