body {
  margin: 0;
  padding: 0;
  font-family: Quicksand;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 100px;
  box-sizing: border-box;
  transition: .3s;
}

nav.black {
  bacground: rgba(0,0,0,0.8);
  height: 100px;
  padding: 10px 100px;
}

nav .logo {
  padding: 22px 20px;
  height: 80px;
  float: left;
  font-size: 24px;
  transition: .3s;
  
nav.black .logo {
  color: #fff;
  }
  
nav ul {
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
  }
  
 nav ul li {
   list-style: none;
  }
  
nav ul li a {
  line-height: 80px;
  color: #15;
  }
  
